.btn{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.btn:active{
    transform: scale(0.9);
}
.modal_btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
.modal{
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease-in-out ;
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
}
.modal.active{
    top: 15%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #ccc;
}
.body{
    padding: 1rem;
}
#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
#overlay.active{
    display: block;
}